<%- include('./partials/header.ejs') %>

    <div style="text-align: center">
        <h1> Oops Something Went Wrong </h1>
        <h4> Status: <%= status %> </h4>
        <p> <%= error %> </p>
    </div>

<%- include('./partials/footer.ejs') %> 
