<%- include('./partials/header.ejs') %>

<div class="container-md mt-4">
    <h1 class="text-center"> Sign Up </h1>

    <div class="d-flex justify-content-center mt-4">
        <div class="bg-light px-5 pt-5 pb-3 border rounded">
            <form action="./signup" method="POST">
                <div class="mb-5">
                    <div class="row">
                        <div class="form-group">
                            <div class="col">
                                <label for="InputUsername" class="col-form-label">Username</label>
                                <input type="text" name="username" class="form-control" id="InputUsername" placeholder="Enter Username" autocomplete="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col">
                                <label for="InputEmail" class="col-form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Enter Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="InputPassword" class="col-form-label">Password</label>
                        <div class="col">
                            <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='../'">Back</button>
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
<%- include('./partials/footer.ejs') %> 
